@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Movie App</h1>
    <p>ASP.NET Core MVC(Model-View-Controller) Web App, 
        Using dotnet framework version 6.00 LTS, 
        EF-Core ORM,
        SQL Server Databas
        <br />Sample WebApp Feature includes CRUD Operation, Search, Filtering, Navigation, Web Pages </p>
</div>
